    html, body {
        background-color: #D9E9FF;
        padding: 0;
        margin: 0;
    }

    * {
        font-family: OCR A Std;
        font-weight: 600
        font-variant: small-caps
    }

    h1 {
        padding: 10px;
        margin-right: 3%;
        font-size: 40px;
        color: #1E90FF
    }

    img {
        width: 200px;
        height: 200px;
    }

    button {
        background-color: #F8F8F8;
        margin-left: auto;
        height: 60px;
        width: 100px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
    }

    button:hover {
        background-color: #D9E9FF;
    }

    .product {
        border: 1px white solid;
        display: flex;
        margin-top: 20px;
        background-color: #FFFFFF;
        border-radius: 30px;
        padding: 10px;
        width: 70%;
    }

    .productList {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product * {
        background-color: #FFFFFF;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        padding: 0;
        margin: 0;
        height: 7%;
    }

    a {
        align-items: center;
        margin-left: 2%;
        text-decoration: none;
        color: #1E90FF;
    }

    .price {
        margin-left: auto;
        text-align: center;
    }

    .productDetails {
        margin-top: 30px;
        border-radius: 30px;
        background: white;
        display: flex;
        flex-direction: row;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .productImage {
        width: 500px;
        height: 500px;
    }

    .productPrice {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding: 10px;
    }

    .productTitle {
        margin-top: 20px;
    }

    .productTitle * {
        font-style: normal;
        margin-bottom: 20px;
    }

    .productDescription {
        margin-top: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 30px;
        background: white;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .productDescription * {
        margin: 30px;
    }
      .filter {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background: #F8F8F8;
        border-radius: 30px;
        padding: 10px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .searchInput {
        font-size: 30px;
        border: none;
        background-color: #F8F8F8;
        padding: 11px;
        border-radius: 30px;
        width: 100%;
        margin-right: 10px;
}